#
# https://help.github.com/articles/dealing-with-line-endings/
#

# Normalize all text files to LF
* text=auto eol=lf

# Linux/Unix scripts should use LF
/gradlew text eol=lf
*.sh text eol=lf

# Windows scripts should use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files should be left untouched
*.jar binary